@model laba.ViewModels.AddRoomViewModel

@{
    ViewBag.Title = "Adding new room page";
}


<div class="row">
    <h1 style="text-align:center" class="col-md-12">Adding a new quest room</h1>
</div>

@using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { style = "margin-bottom: 500px", enctype="multipart/form-data"}))
{
    @Html.ValidationSummary()
    @* Title field *@

    <div class="drop-shadow col-md-12">
        <div class="col-md-12 icon-container">
            <i class="fas fa-comment-dots"></i>
        </div>

        <div>
            <div class="mdl-textfield mdl-js-textfield input-title">
                @Html.TextBoxFor(model => model.Room.Title, new { @class = "mdl-textfield__input" })
                <label class="mdl-textfield__label" for="Title">Title</label>
            </div>
        </div>

        <div>
            <div class="mdl-textfield mdl-js-textfield input-title">
                @Html.TextBoxFor(model => model.Room.Description, new { @class = "mdl-textfield__input" })
                <label class="mdl-textfield__label" for="Description">Description</label>
            </div>
        </div>

        <div class="splitter">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    @* DurationTime field *@

    <div class="drop-shadow col-md-12">

        <div class="icon-container">
            <i class="fas fa-clock"></i>
        </div>

        <div>
            <div class="mdl-textfield mdl-js-textfield input-title">
                @Html.TextBoxFor(model => model.Room.DurationTime, new { @class = "mdl-textfield__input", @type = "number" })
                <label class="mdl-textfield__label" for="DurationTime">Duration Time (hours)</label>
            </div>
        </div>

        <div class="splitter">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    @* Phones field *@

    <div class="drop-shadow col-md-12">
        <div class=" icon-container">
            <i class="fas fa-phone"></i>
            <button type="button" id="addPhoneButton" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
        </div>

        <div class="phones-container">
            <div class="mdl-textfield mdl-js-textfield input-title">
                <input type="number" class="mdl-textfield__input" name="Room.PhoneNumbers[0].Number" />
                <label class="mdl-textfield__label" for="MaxPlayersCount">Phone #1</label>
            </div>
        </div>

        <div class="splitter">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    @* Players count fields *@

    <div class="drop-shadow col-md-12">
        <div class=" icon-container">
            <i class="fas fa-user-friends"></i>
        </div>

        <div class="">
            <div class="mdl-textfield mdl-js-textfield input-title">
                @Html.TextBoxFor(model => model.Room.MinPlayersCount, new { @class = "mdl-textfield__input", @type = "number" })
                <label class="mdl-textfield__label" for="MinPlayersCount">Min Players Count</label>
            </div>
        </div>

        <div class="">
            <div class="mdl-textfield mdl-js-textfield input-title">
                @Html.TextBoxFor(model => model.Room.MaxPlayersCount, new { @class = "mdl-textfield__input", @type = "number" })
                <label class="mdl-textfield__label" for="MaxPlayersCount">Max Players Count</label>
            </div>
        </div>

        <div class="splitter">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="drop-shadow col-md-12">
        <div class="row">

            @* FearLevel field *@

            <div class="col-md-12 icon-container">
                <i class="fas fa-surprise"></i><span class="range-title">Fear level:</span><span id="currentFearLevel" class="range-value">2</span>
            </div>

            <div style="width:300px" class="col-md-12 fear-level-slider">
                <span>1</span><input class="mdl-slider mdl-js-slider" id="fearLevelRange" name="Room.FearLevel" type="range" min="1" value="2" max="10" step="1"><span>10</span>
            </div>

            @* Difficulty field *@

            <div class="col-md-12 icon-container">
                <i class="fas fa-angry"></i><span class="range-title">Difficulty:</span><span id="currentDifficultyLevel" class="range-value">2</span>
            </div>

            <div style="width:300px" class="col-md-12 fear-level-slider">
                <span>1</span><input class="mdl-slider mdl-js-slider" id="difficultyLevelRange" name="Room.Difficulty" type="range" min="1" value="2" max="10" step="1"><span>10</span>
            </div>
        </div>

        <div class="splitter">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>


    @* QuestRoom File *@

    <div class="drop-shadow col-md-12">
        <div>
            <input type="file" name="File" id="file" />
            <label for="File">Choose an image to display</label>
        </div>
    </div>

    <div class="col-md-12" style="text-align: center; padding-top: 50px;">
        <button style="transform: scale(1.5)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Add new quest room to db
        </button>
    </div>
}

@section styles {
    <link href="~/Content/css/add-form.css" rel="stylesheet" />
}

@section scripts {
    <script>
        $(function () {
            $("#fearLevelRange").on('input', function (e) {
                $("#currentFearLevel").text($(this).val());
            });

            $("#difficultyLevelRange").on('input', function (e) {
                $("#currentDifficultyLevel").text($(this).val());
            });

            let phoneCounter = 2;

            $("#addPhoneButton").on('click', function () {
                var phoneFieldComponent = document.createElement('div');
                phoneFieldComponent.className = "mdl-textfield mdl-js-textfield"

                phoneFieldComponent.innerHTML = `
                     <input class="mdl-textfield__input" type="number" name=Room.PhoneNumbers[${phoneCounter - 1}].Number>
                     <label class="mdl-textfield__label" for="PhoneNumbers">Phone #${phoneCounter}</label>
                `;

                phoneCounter++;

                document.querySelector('.phones-container').appendChild(phoneFieldComponent);
                componentHandler.upgradeElement(phoneFieldComponent);
            })
        });
    </script>
}
